:root {

  --blue-colors-gradient: #051937, #00385a, #005a77, #007d8b, #0ba195;
}

* {
  font-family: Roboto Mono, -apple-system, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
}

body {
  align-items: center;
  background-image: linear-gradient(to right, var(--blue-colors-gradient));
  display: flex;
  height: 100vh;
  justify-content: center;
  text-align: center;
}
